.container-projetos{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.projeto{
    max-width: 350px;
    border: 1px solid var(--cor-primaria);
    text-align: center;
    padding: 50px 20px;
    border-radius: 20px;
    transition: ease-in-out 0.4s;
}

.projeto:hover{
    color: var(--cor-primaria);
    transform: scale(1.05);
    border: 1px solid #fff;
}

.projeto h3{
    font-size: 20px;
    padding-bottom: 15px;
}

.projeto img{
    max-width: 200px;
    border-radius: 10px;
}

.projeto p{
    font-size: 17px;
    line-height: 22px;
    padding: 20px 0px;
}

.projeto .links{
    display: flex;
    gap: 10px;
}

.projeto .links a{
    border: 1px solid var(--cor-primaria);
    border-radius: 50px;
    padding: 10px;
    transition: ease-in-out 0.2s;
}

.projeto .links a:hover{
    border: 1px solid #fff;
    color: var(--cor-primaria);
}